
.container {
    background-image: url('./assets/backgroundpage.png'); 
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    width: 100%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
  }
  

.header{
    display:flex;
    flex-direction: column;
    align-items:left ;
    gap:2px;
    width: 3;
    margin-top: 5px;
    text-align: left;

}
.text{
display: flex;
justify-content: flex-start; 
align-items: center; 
}

.text {
margin-right: 910px;
margin-top: 300px}


.inputs{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 840px;
}
.input{
    display: flex;
    align-items: center;
    width: 300px;
    height:33px;
    border: none;
    border-bottom: 1px solid black;
    text-align: left;
    
}

.input img{
    margin-right: 22px;
    width: 24px;
    height: 24px;

}

.input input{
    flex: 1;
    padding: 10px;
    width: 100%;
    background: transparent;
    border:none;
    outline:none;
    color: #797979;
    font-size: 11px;
}


.submit-container{
    margin:60px auto;
    display: flex; 
    gap:30px;
}


.underline{
    text-decoration: underline;
}


.submit1{
    position: absolute;
    justify-content: center;
    text-align: center;
    width:200px;
    height: 51px;
    display: flex;
    padding: 8px;
    white-space: nowrap;
    color:#fff;
    background: rgb(93, 92, 92);
    background-color: #494a4b;
    border-radius: 30px;
    font-size: 25px;
    font-weight:700;
    left: 100px;
    cursor:pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    bottom: 25px;
}
.submit2{
    position: absolute;
    top:150px;
    left:550px;
    font-size: 20px;
}

.toggle-text {
    position: absolute;
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
    color: #555;
    top:120px;
    left:400px;
}

.toggle-text span {
    color: #007BFF;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

.toggle-text span:hover {
    color: #0056b3;
}

.images{
 position: relative;
}


.image3{
    position: absolute; 
  opacity: 0.8;
  right: 600px;
  bottom:200px;
  width:250px;

}

.image1{
    position: absolute; 
  opacity: 0.8;
  right: 300px;
  bottom:15px;
  width:300px;

}

.image2{
    position: absolute; 
  opacity: 0.8;
  right: 150px;
  width:300px
  

}
.kronicle{
    position: absolute;
    top:150px;
    left:100px;
    width:130px;
}
.c1{
    position: absolute;
    top:50px;
    left:100px;
    width:130px;

}
.c3{
    position: absolute;
    bottom:150px;
    right:100px;
    width:130px;
}
.c2{
    position: absolute;
    bottom:100px;
    right:700px;
    width:130px;
}
.forgot-password{
    position: absolute;
    left: 330px;
    bottom: 45px;
    cursor:pointer;
}
.forgot-password span:hover {
    text-decoration: underline;
    color: #0056b3;
}

.form {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .input {
    margin-bottom: 1rem;
  }
  
  .submit-button {
    background-color: #646cff;
    color: white;
    padding: 1rem;
    border: none;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #5050e3;
  }

  @media (max-width: 768px) {
    .container {
        background-size: contain; /* Use contain on smaller screens to avoid cropping */
    }
}


  
