.card {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    width: 240px; 
    height: 300px; 
    background-image: url('../assets/facecardBG.png'); 
    background-size: cover; 
    background-position: center; 
    color: white;
    border-radius: 15px; 
    padding: 20px; 
    text-align: left; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); 
    position: relative; 
    overflow: hidden; 
}

.image {
    position: absolute; 
    bottom: 8px;  
    right: 0;   
    width: 90%;
    height: auto; 
    object-fit: cover; 
    max-height: 250px;
    border-bottom-right-radius: 15px; 
    border-bottom-left-radius: 15px;  
}

.name {
    position: absolute;
    top: 10px;  
    left: 10px; 
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    z-index: 10; 
}

.iconContainer {
    position: absolute; 
    bottom: 15px; 
    left: 10px; 
    display: flex;
    flex-direction: column; 
    gap: 20px;
}

.icon {
    width: 30px;
    height: 30px;
    background-image: url(../assets/elipse.png); 
    border-radius: 50%;
    display: flex; 
    justify-content: center;
    align-items: center;
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.icon:hover {
    background-color: rgba(255, 255, 255, 0.2); 
}

.cornerlogo {
    position: absolute;
    top: 2px;      
    right: 0px;    
    width: 40px;   
    height: auto;   

    border-radius: 50%; 
    z-index: 10; 
}