/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.2); /* Slight transparency */
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 100vw; /* Ensures the navbar doesn't exceed the viewport width */
    box-sizing: border-box; /* Includes padding and border in element's total width */
    z-index: 1000;
    overflow-x: hidden; /* Prevent horizontal overflow */
}

/* Prevent the body from causing overflow */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
}

/* Logo container styling */
.logo-container {
    display: flex;
    align-items: center;
}

/* Logo Styling - Remove quotes from width */
.logo {
    width: 100%; /* Adjust based on your image size */
    max-width: 150px; /* Set a max-width if needed */
    margin-right: 10px;
}

/* Nav Links Styling */
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Individual Nav Links */
.nav-links li {
    margin-left: 30px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

/* Hover Effect for Nav Links */
.nav-links li a:hover {
    text-decoration: underline;
}
